<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378227769036-ag3a6lone0rad6m7oee0fj5dev06a249.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378227769036-ag3a6lone0rad6m7oee0fj5dev06a249</string>
	<key>API_KEY</key>
	<string>AIzaSyC1LcUc1sg92SCGWk2Slf0s5yhH7eVJFfE</string>
	<key>GCM_SENDER_ID</key>
	<string>378227769036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pututyb.Moovie</string>
	<key>PROJECT_ID</key>
	<string>moovie-58294</string>
	<key>STORAGE_BUCKET</key>
	<string>moovie-58294.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378227769036:ios:e0efdcab9e084a53f98c69</string>
</dict>
</plist>